{% extends 'base.html' %}

{% load static %}

{% block metadescription %}
    これはショッピングカートのページです。商品を確認し、注文してください。
{% endblock %}

{% block title %}Juhacchu{% endblock %}

{% block content_title %}Cart - Juhacchu{% endblock %}

{% block contents %}

    {% if not cart_items %}
        <div>
          <div class="text-center">
            <br>
            <h1 class="text center my_title">Your shopping cart is empty</h1>
            <br>
            <p class="text-center">
                Please click <a href="{% url 'item:order_item_list' %}">here</a> to continue shopping.
            </p>
          </div>
        </div>
    {% else %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">
                    ショッピングカート
                </h1>
            </div>
            <br>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-lg-8 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                        <tr>
                            <th colspan="5">
                                商品
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                {% if cart_item.item.photo %}
                                    <a href="{{ cart_item.get_absolute_url }}"><img src="{{cart_item.item.photo.url}}" alt="" class="float-center item-photo"></a>
                                {% else %}
                                    <a href="{{ cart_item.get_absolute_url }}"><p class="No-image">No image</p></a>
                                {% endif %}
                            </td>
                            <td class="text-left">
                                {{cart_item.item.name}}
                                <br>
                                商品ID: {{cart_item.item.id}}
                                <br>
                                単価: ￥{{cart_item.item.price}}
                                <br>
                                数量: {{cart_item.quantity}} x ￥{{cart_item.item.price}}
                            </td>
                            <td>
                                ￥{{cart_item.sub_total}}
                            </td>
                            {% if cart_item.quantity < cart_item.item.stock %}
                                <td>
                                    <a href="{% url 'cart:add_cart' cart_item.item.id %}" class="">
                                        <i class="fas fa-plus-circle custom_icon"></i>
                                    </a>
                                    &nbsp;
                                    <a href="{% url 'cart:reduce_quantity' cart_item.item.id %}" class="">
                                        <i class="fas fa-minus-circle custom_icon"></i>
                                    </a>
                                    &nbsp;
                                    <a href="{% url 'cart:cart_item_remove' cart_item.item.id %}" class="">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            {% else %}
                                <td>
                                    &nbsp;
                                    <a href="{% url 'cart:reduce_quantity' cart_item.item.id %}" class="custom_a">
                                        <i class="fas fa-minus-circle custom_icon"></i>
                                    </a>
                                    &nbsp;
                                    <a href="{% url 'cart:cart_item_remove' cart_item.item.id %}" class="custom_item">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 text-center">
                <table class="table my_custom_table">
                  <thead class="my_custom_thead">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                            ご注文のお支払いに進む前に、ショッピングカートの商品を確認してください
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            合計金額: <strong>￥{{ total }}</strong>
                        </td>
                    </tr>
                  </tbody>
                </table>
                <div class="mx-auto">
                    <a href="{% url 'order:order_create' %}" class="btn-primary btn-block">発注する</a>
                </div>
                <div class="mx-auto">
                    <a href="{% url 'item:order_item_list' %}" class="btn-secondary btn-block margin-top-5px">ショッピングを続ける</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}

{% endblock %}