{% extends './auth_base.html' %}

{% block title %}Password Reset | X-order{% endblock %}

{% block contents %}

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" style="height: 500px">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{% if token_fail %}不正トークン{% else %}Password Reset{% endif %}</h1>
                        </div>
                        <div class="form-group">


                            {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>このパスワードリセット用リンクは無効になっています。<a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
                            {% else %}
                                {% if form %}
                                    <form class="user" method="POST" action="{{ action_url }}">
                                        {% csrf_token %}

                                        <div class="form-group" id="mysitle_form">
                                            {{ form.password1 }}
                                            {{ form.password1.errors }}
                                        </div>

                                        <div class="form-group" id="mysitle_form">
                                            {{ form.password2 }}
                                            {{ form.password2.errors }}
                                        </div>

                                        <button class="btn btn-primary btn-user btn-block" type="submit">Reset Password</button>

                                        <hr>

                                        <a href="index.html" class="user btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="user btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                    </form>
                                {% else %}
                                    <p>パスワードは変更されています。</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{% url 'account_signup' %}">Create an Account!</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}