{% extends "./auth_base.html" %}

{% block title %}Password Reset Key Done | Juhatchu{% endblock %}

{% block contents %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row" style="height: 500px">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center padding-bottom-15">

                                <h1>パスワードリセット</h1>

                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}

                                <p>パスワードが更新されました。</p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'order:index' %}">HOME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
