{% extends './auth_base.html' %}

{% block title %}Password Reset | Juhatchu{% endblock %}

{% block contents %}
        <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" style="height: 500px">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                      <p class="mb-4">以下にメールアドレスを入力してください。<br>パスワード再設定用のメールを送信します。</p>
                    </div>

                    {% if user.is_authenticated %}
                      <p><strong>注意: </strong>{{ user.get_username }} さんとしてログイン中です。</p>
                    {% endif %}

                    <form class="user" method="post" action="{% url 'account_reset_password' %}">
                      <div class="form-group">
                        {% csrf_token %}

                        <div class="form-group" id="mysitle_form">
                          {{ form.email }}
                          {{ form.email.errors }}
                        </div>

                        <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button>

                      </div>
                    </form>
                    <hr>
                    <div class="text-center">
                      <a class="small" href="{% url 'order:index' %}">HOME</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="{% url 'account_signup' %}">Create an Account!</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="{% url 'account_login' %}">Already have an account? Login!</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}