#id_message {
    border-radius: 2em;
    padding: 1.3em;
}

.send_message {
    padding: 3em 0em;
    font-size: 25px;
    color: #333333;
}

#mysitle_form {

}

.padding-bottom-15 {
    padding-bottom: 15rem;
}