///////////////////////////////////////////////////////////////////////

受発注システム

要件定義書

Ver. 1.0

2020/02/11

Author: Yoshiki Tanaka

///////////////////////////////////////////////////////////////////////


１．背景

発注データが納品書からデータベースに入力されていない為、データの管理が煩雑。
発注先によっては、いまだにFAXを使っている。

２．課題

一元管理のためには、各発注先に対して導入コストがかかる
発注先によっては、既に受発注管理システムを導入済の為、本システムとのブリッジが必要

３．目的・方針

店舗の発注業務の一元化。効率化。
発注データの経営分析への活用。

４．概要

本システムは、Webによって簡単に受注発注ができる。

５．機能



６．システム化の範囲

７．ユーザーインタフェース

８．システム構成

９．導入・移行計画

１０．運用・保守

１１．工程計画

１２．体制

１３．成果物