{% extends 'base.html' %}

{% load static %}

{% block title %}X-order{% endblock %}

{% block content_title %}X-order{% endblock %}

{% block contents %}

    <h1>商品登録情報更新</h1>
    <hr class="hr-item-create-update">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <div class="form-table">
                {{ form.as_table }}
            </div>
        </table>
        <hr>
        <a class="btn btn-primary btn-user margin-left-10em margin-top-5px" href="{% url 'order:item_detail' object.pk %}">キャンセル</a>
        <button class="btn btn-primary btn-user margin-left-5px margin-top-5px" type="submit">更新</button>
    </form>

{% endblock %}