{% extends 'base.html' %}

{% load static %}

{% block metadescription %}
    これは発注確認ページです。商品を確認し、注文してください。
{% endblock %}

{% block title %}発注確認 | Juhatchu{% endblock %}

{% block content_title %}Oder Confirm - Juhatchu{% endblock %}

{% block contents %}

    {% if not cart_items %}
        <div>
          <div class="text-center">
            <br>
            <h1 class="text center my_title">Your shopping cart is empty</h1>
            <br>
            <p class="text-center">
                Please click <a href="{% url 'item:order_item_list' %}">here</a> to continue shopping.
            </p>
          </div>
        </div>
    {% else %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">
                    発注確認
                </h1>
            </div>
            <br>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-lg-8 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                        <tr>
                            <th colspan="5">
                                商品
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                {% if cart_item.item.photo %}
                                    <a href="{{ cart_item.get_absolute_url }}"><img src="{{cart_item.item.photo.url}}" alt="" class="float-center item-photo"></a>
                                {% else %}
                                    <a href="{{ cart_item.get_absolute_url }}"><p class="No-image">No image</p></a>
                                {% endif %}
                            </td>
                            <td class="text-left">
                                {{cart_item.item.name}}
                                <br>
                                商品ID: {{cart_item.item.id}}
                                <br>
                                単価: ￥{{cart_item.item.price}}
                                <br>
                                在庫数: <span id="item-quantity">{{cart_item.item.stock}}</span>
                            </td>
                            <td>
                                <div class="container">
                                    <div class="row">

                                    {% if cart_item.item.stock > 0 %}
                                        <div class="col">
                                            数量：{{ cart_item.quantity }}{{ cart_item.item.unit }} x 単価：￥{{ cart_item.item.price }}
                                        </div>
                                    {% else %}
                                        <div class="col-4">Out of stock</div>
                                        <div class="col-3">
                                            <a href="{% url 'cart:cart_item_remove' cart_item.item.id %}" class="item-remove">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                        <div class="col">
                                            合計金額：￥{{cart_item.sub_total}}（税抜）
                                        </div>
                                    </div>
                                    {% for key, val in warning_msg.items %}
                                        {% if key == cart_item.item_id %}
                                            {% if cart_item.item.stock < cart_item.quantity or cart_item.item.stock == 0 %}
                                                <div class="row message_about_stock mt-4 alert alert-warning" role="alert">
                                                    {{ val }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 text-center">
                <table class="table my_custom_table">
                  <thead class="my_custom_thead">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                            ご注文のお支払いに進む前に、ショッピングカートの商品を確認してください
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            総合計金額（税込）: <strong>￥{{ total }}</strong>
                        </td>
                    </tr>
                  </tbody>
                </table>
                {% if total > 0 %}
                    <div class="mx-auto">
                        <a href="{% url 'order:order_create' %}" class="btn btn-primary btn-user btn-block submit-order">
                            <i class="fas fa-fax mr-2"></i>発注する
                        </a>
                    </div>
                {% endif %}
                <div class="mx-auto">
                    <a href="{% url 'item:order_item_list' %}" class="btn btn-secondary btn-user btn-block margin-top-5px">ショッピングを続ける</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}

{% endblock %}