{% extends 'base.html' %}

{% load static %}

{% block title %}発注履歴一覧 | X-order{% endblock %}

{% block content_title %}X-order{% endblock %}

{% block contents %}
    <table class="table table-bordered" id="dataTable">
      <thead>
        <tr>
          <th>id</th>
          <th>商品画像</th>
          <th>商品名</th>
          <th>単価</th>
          <th>税込</th>
          <th>数量</th>
          <th>合計額</th>
          <th>発注日</th>
          <th>商品詳細</th>
        </tr>
      </thead>
      <tbody>
        {% for order_item in object_list %}
          <tr>
            <td>{{ order_item.pk }}</td>
            <td>
              {% if order_item.photo %}
                <a href="{{ order_item.get_absolute_url }}"><img src="{{ order_item.photo.url }}" class="item-photo"/></a>
              {% else %}
                <a href="{{ order_item.get_absolute_url }}"><p class="No-image">No image</p></a>
              {% endif %}
            </td>
            <td>{{ order_item.name }}</td>
            <td>{{ order_item.price }}</td>
            <td>{{ order_item.including_tax }}</td>
            <td>{{ order_item.quantity }}{{ order_item.unit }}</td>
            <td>{{ order_item.total_price }}</td>
            <td>{{ order_item.order_date }}</td>
            <td><a href="{% url 'item:item_detail' order_item.item_id %}"><i class="fas fa-info-circle fa-lg"></i></a></td>
          </tr>
        {% empty %}
          <p>まだ発注は、されておりません。</p>
        {% endfor %}
      </tbody>
    </table>

    <!-- ページネーション処理 -->
    {% if is_paginated %}
      <ul class="pagination">
        <!-- 前ページへのリンク -->
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
              <span>&laquo;</span>
            </a>
          </li>
        {% endif %}

        <!-- ページ数表示 -->
        {% for page_num in page_obj.paginator.page_range %}
          {% if page_obj.number == page_num %}
            <li class="page-item" active><a class="page-link" href="#">{{ page_num }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endif %}
        {% endfor %}

        <!-- 次ページへのリンク -->
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              <span>&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}

{% endblock %}