{% extends 'base.html' %}

{% load static %}

{% block title %}商品登録 | X-order{% endblock %}

{% block content_title %}X-order{% endblock %}

{% block contents %}

    <h1>商品登録</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="item-create">
            {{ form.as_table }}
        </table>
        <hr>
        <div class="item-edit-button">
            <button class="btn btn-primary item-edit-button" type="submit">保存</button>
        </div>
    </form>

{% endblock %}