{% extends 'base.html' %}

{% load static %}

{% block title %}Juhacchu{% endblock %}

{% block content_title %}Juhacchu{% endblock %}

{% block contents %}
  <div class="table-responsive">
    <table class="table" id="dataTable">
      <thead class="thead-light col-4">
        <tr>
          <th scope="col">id</th>
          <th scope="col" class="item-photo-column">商品画像</th>
          <th scope="col">商品名</th>
          <th scope="col">価格</th>
          <th scope="col">税込</th>
          <th scope="col">在庫数</th>
          <th scope="col">商品詳細</th>
          <th scope="col">編集</th>
        </tr>
      </thead.thead-light>
      <tbody>
        {% for item in object_list %}
          <tr>
            <td>{{ item.pk }}</td>
            <td>
              {% if item.photo %}
                <a href="{{ item.get_absolute_url }}"><img src="{{ item.photo.url }}" class="item-photo"/></a>
              {% else %}
                <a href="{{ item.get_absolute_url }}"><p class="No-image">No image</p></a>
              {% endif %}
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.including_tax }}</td>
            <td>{{ item.stock }}{{ item.unit }}</td>
            <td><a href="{% url 'item:item_detail' item.pk %}"><i class="fas fa-info-circle fa-lg"></i></a></td>
            <td><a href="{% url 'item:item_update' item.pk %}"><i class="fas fa-edit fa-lg"></i></a></td>
          </tr>
        {% empty %}
          <p>まだ商品が登録されておりません。</p>
        {% endfor %}
      </tbody>
    </table>
  </div>

    <!-- ページネーション処理 -->
    {% if is_paginated %}
      <ul class="pagination">
        <!-- 前ページへのリンク -->
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
              <span>&laquo;</span>
            </a>
          </li>
        {% endif %}

        <!-- ページ数表示 -->
        {% for page_num in page_obj.paginator.page_range %}
          {% if page_obj.number == page_num %}
            <li class="page-item" active><a class="page-link" href="#">{{ page_num }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endif %}
        {% endfor %}

        <!-- 次ページへのリンク -->
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              <span>&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}

{% endblock %}